<section id="minimal-statistics">
  <div class="row text-left">
    <div class="col-sm">
      <div style="margin-bottom: 1.5em; margin-top: 1.2em; font-size: 1.8em; font-weight: 400; color:#4C4B65;">Graduation Project</div>
    </div>  
  </div>  
</section>
<div class="shadow-sm bg-white" style=" padding-bottom: 1.4rem;">
  <h4 style="margin-left: 1.5em; padding-top: 1.2em; font-weight: 500; color:#4C4B65;">Document Details</h4>
  <div class="card-block">
    <div class="card-header" style="margin-left: 0.5em; margin-right: 0.5em; border: 1.5px solid whitesmoke;">
      <div class="row">
        <div class="col col-lg-2 col-sm-2">
            <img src="https://cdn.dodowallpaper.com/full/516/black-and-yellow-8.jpg" style="margin-left: 2.2em;" width="74px" height="74px" class="rounded-circle" alt="">
        </div>
        <div class="col col-lg-8 col-sm-8">
            <h4 class="text-dark font-medium-5 text-bold-500">{{ project?.student?.firstName }} {{ project?.student?.lastName }}</h4>
            <h6 class="text-muted">{{ project?.student?.classe?.label }}/{{ project?.student?.classe?.scholarYear }}
              - {{ project?.entreprise?.country}}, {{ project?.entreprise?.address}}.</h6>
            <h6 class="text-muted">Mobile : (+216) 23375472</h6>
        </div>  
        <div class="col col-lg-2 col-sm-2">
            <h2 class="float-right font-medium-3" style="color: #EAEBEE !important; padding-left: 5em;"  ><a class="ft-x" style="cursor: pointer;" title="close" [routerLink]="['/pfe/all']"></a></h2>
            <span class="badge badge-pill float-right" style="margin-top: 1.8em; padding: 0.5rem 1.4rem; background-color: #FFC96C; color: #fff;">Pending</span>
        </div>  
      </div>
    </div>
    <div class="card-body" style="margin-left: 0.5em; margin-right: 0.5em; border: 1.5px solid whitesmoke;">
      <div class="row justify-content-around">
        <div class="col-sm-5 col-md-5 col-lg-5 shadow-sm">
          <h4 class="text-dark font-medium-3 text-bold-400">Internship Details</h4>
          <hr  style="border: 0.7px solid #EAEBEE; margin-left: 1rem; margin-right: 1rem;">
          <table>
              <tr>
                <td>Title</td>
                <td></td>
              </tr>
              <tr>
                <td>Description</td>
                <td></td>
              </tr>
              <tr>
                <td>Problamtic</td>
                <td></td>
              </tr>
              <tr>
                <td>Functionalities</td>
                <td></td>
              </tr>
              <tr>
                <td>Category</td>
                <td></td>
              </tr>
              <tr>
                <td>Tags</td>
                <td></td>
              </tr>
              <tr>
                <td>Entreprise</td>
                <td></td>
              </tr>
            </table>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 shadow-sm">
          <h4 class="text-dark font-medium-3 text-bold-400">Entreprise Details</h4>
          <hr  style="border: 0.7px solid #EAEBEE; margin-left: 1rem; margin-right: 1rem;">
          <table>
              <tr>
                <td>Website</td>
                <td></td>
              </tr>
              <tr>
                <td>Address</td>
                <td></td>
              </tr>
              <tr>
                <td>Country</td>
                <td></td>
              </tr>
              <tr>
                <td>Responsable Name</td>
                <td></td>
              </tr>
              <tr>
                <td>Responsable Email</td>
                <td></td>
              </tr>
              <tr>
                <td>Supervisor Email</td>
                <td></td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td></td>
              </tr>
            </table>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 shadow-sm">
          <h4 class="text-dark font-medium-3 text-bold-400">Status</h4>
          <hr  style="border: 0.7px solid #EAEBEE; margin-left: 1rem; margin-right: 1rem;"> 
          <button class="btn btn-round btn-outline-dark offset-2" (click)="cancel()">Cancel GP</button>
        </div>
      </div>
    </div>
  </div>
</div>