<div class="modal-header">
  <h4 class="modal-title">PFE File</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body taskboard-modal">
    <div class="container">
        <fieldset class="form-group position-relative has-icon-left">
            <div class="form-control-position">
            </div>
            <label>title : {{pfe.title}}</label>
            
    
          </fieldset>
    
      <fieldset class="form-group position-relative has-icon-left">
        <div class="form-control-position">
        </div>
        <label>Description : {{pfe.description}}</label>
          
        <div class="form-control-position control-position-right">
        </div>
      </fieldset>
      
      <fieldset class="form-group position-relative has-icon-left">
          <div class="form-control-position">
          </div>
          <label>Problematic : {{pfe.problematic}}</label>
         
          <div class="form-control-position control-position-right">
          </div>
        </fieldset>
  
        <fieldset class="form-group position-relative has-icon-left">
            <div class="form-control-position">
            </div>
            <label>functionnalities : {{pfe.functionnalities}}</label>

           
            <div class="form-control-position control-position-right">
            </div>
          </fieldset>
          
        <fieldset class="form-group position-relative has-icon-left">
            <div class="form-control-position">
            </div>
            <label>keywords : {{pfe.keywords}}</label>

          
            <div class="form-control-position control-position-right">
            </div>
          </fieldset>
          <fieldset class="form-group position-relative has-icon-left">
              <div class="form-control-position">
              </div>
              <label>Email Personel : {{pfe.emailPersonel}}</label>

             
              <div class="form-control-position control-position-right">
              </div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left">
                <div class="form-control-position">
                </div>
                <label>Email Professionel : {{pfe.emailProfessionel}}</label>

                
                <div class="form-control-position control-position-right">
                </div>
              </fieldset>


    </div>
  </div>
  <div class="modal-footer taskboard-modal-footer">
 
  </div>
</form>