<div class="col-xl-3 col-lg-6 col-12">
    <div class="card" *ngFor="let item of all">
      <div class="card-content">
        <div class="px-3 py-3">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="mb-1 danger">{{item.status}}</h3>
              <span>{{item.label}}</span>
            </div>
            <div class="media-right align-self-center">
              <i class="icon-rocket danger font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>