


  


<div  class="card example-boundary" #pdf style="width:1000px;height:500px;" id="container"  *ngFor="let item of all">


  <div class="row ">
  <div  class="col-sm-4" id="img">
    <img src="../../../../assets/img/logo.png" style="z-index: 1;" cdkDragBoundary=".example-boundary" cdkDrag (cdkDropListDropped)="drop($event)"   />
  </div>
  
    <div style="z-index: 1;" cdkDragBoundary=".example-boundary" cdkDrag>
      <h1 class="card-title" >internship Convention </h1>
    </div>
    <div  class="col-sm-2 ">
      <h4 class="card-title"style="z-index: 1;" cdkDragBoundary=".example-boundary" cdkDrag >Nom :</h4>
    </div>
    <div  class="col-sm-2 ">
      <h4 class="card-title"style="z-index: 1;" cdkDragBoundary=".example-boundary" cdkDrag >{{item.lastName}}</h4>
     </div> 
      <div  class="col-sm-2">
      <h4 class="card-title" style="z-index: 1;" cdkDragBoundary=".example-boundary" cdkDrag >Prenom : </h4>
    </div>
      <div  class="col-sm-2">
        <h4 class="card-title"style="z-index: 1;" cdkDragBoundary=".example-boundary" cdkDrag >{{item.lastName}}</h4>
    </div>
    
    <div  class="col-sm-2">
      <h4 class="card-title"style="z-index: 1;" cdkDragBoundary=".example-boundary" cdkDrag >Start Date : </h4>
    </div>
    <div  class="col-sm-2">
      <h4 class="card-title"style="z-index: 1;" cdkDragBoundary=".example-boundary" cdkDrag >End Date : </h4>
    </div>
  
</div>


</div>




<button type="button" class="btn btn-outline-primary" (click)="getElement()">Save</button>

<div id="create" style="width:1000px;height:500px;" hidden></div>
