<section id="minimal-statistics">
    <div class="row text-left">
      <div class="col">
        <div class="content-header font-medium-5 text-bold-900">Graduation Projects list</div>
        <button class="btn btn-outline-dark float-left" (click)="nonTreated()">Non Treated Requests</button>
        <div class="float-right">
                <div class="col-sm">
                  <div class="card">
                    <div class="">
                      <div>
                        <tag-input [(ngModel)]="items" theme='dark' (onAdd)="onItemAdded($event)" (onRemove)="onItemRemoved($event)" [modelAsStrings]="true" placeholder="+ A year">
                        </tag-input>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>  
    </div>
    <div class="row text-left" matchHeight="card">
        <div class="col-xl-6 col-lg-6 col-md-6" *ngFor="let project of projects">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col col-md-2 col-lg-2 col-sm-2">
                    <img src="https://cdn.dodowallpaper.com/full/516/black-and-yellow-8.jpg" style="margin-left: 1em;" width="74px" height="74px" class="rounded-circle" alt="">
                </div>
                <div class="col offset-md-1 col-md-7 col-lg-7 col-sm-7 ">
                    <h4 class="text-dark font-medium-5 text-bold-500">{{ project?.title }}</h4>
                    <h6 class="text-muted">{{ project?.student?.firstName }} {{ project?.student?.lastName }} - {{ project?.student?.classe?.label }}</h6>
                    <h6 class="text-muted">Mobile : (+216) {{ project?.student?.tel }}</h6>
                </div>  
                <div class="col col-md-2 col-lg-2 col-sm-2">
                    <h2 class="float-right font-medium-3" style="color: #EAEBEE !important; padding-left: 5em;"  ><a id="heffect" class="ft-x text-muted" title="close" [routerLink]="['/pfe/all']"></a></h2>
                    <span class="badge badge-pill float-right"
                    [ngStyle]="{'background-color': project?.status ? '#52E5BA' :  '#FFC96C' }"
                    style="margin-top: 1.8em; padding: 0.5rem 1.4rem; color: #fff;"
                    [innerHTML]="project?.status ? 'Approved' : 'Pending'"></span>
                </div>  
              </div>
            </div>
            <div class="card-footer" style="padding: 0;">
              <button style="margin-left: 2em; margin-top: 0.8em;" class="btn btn-round btn-outline-danger" (click)="deny(project.id)"> Deny</button>
              <button style="margin-left: 1em; margin-top: 0.8em;" class="btn btn-round btn-outline-success" (click)="approve(project.id)"> Approve</button>
              <button style="margin-left: 20em; margin-top: 0.8em;" class="btn btn-round btn-outline-secondary" [routerLink]="['/pfe/details', project.id]"> details</button>
            </div>
          </div>
        </div>
    </div>
</section>
