<section id="minimal-statistics">
  <div class="row text-left">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Students list</div>
    </div>
  </div>
  <div  class="row text-left" matchHeight="card">
      <div class="col-xl-3 col-lg-6 col-md-12" *ngFor="let student of students">
        <div class="card">
          <div class="card-content">
            <div class="card-header">
              <h4 class="card-title">{{ student?.firstName }} {{ student?.lastName }}</h4>
              <h6 class="card-subtitle text-muted">{{ student?.classe?.label }}</h6>
            </div>
            <div class="card-content">
              <div class="card-body">
                <img class="img-fluid" src="../../../../assets/img/photos/09.jpg" alt="Card image cap">
                <p class="card-text mt-1">Topping dessert marshmallow gummi bears chupa chups marzipan.</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="card-link info darken-2" (click)="delete(student.id)">Delete</a>
            <a class="card-link info darken-2" [routerLink]="['/student/details', student.id]">Convention link</a>
          </div>
        </div>
      </div>
    </div>
</section>