<section id="basic-form-layouts">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">Adding Director Form</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="bordered-layout-basic-form">Project Info</h4>
          </div>
          <div class="card-body">
            <div class="px-3">
              <form class="form form-horizontal form-bordered" [formGroup]="dirForm" (ngSubmit)="onSubmit()">
                  {{ dirForm.value | json}}
                <div class="form-body">
                  <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput1">First Name</label>
                    <div class="col-md-9">
                      <input type="text" id="projectinput1" class="form-control" placeholder="First Name" name="fname" formControlName="firstName">
                      <div class="form-control-feedback" *ngIf="dirForm.get('firstName').errors && (dirForm.get('firstName').dirty || dirForm.get('firstName').touched)">
                          <p *ngIf="dirForm.get('firstName').errors.required" class="text-danger">First Name is required</p>
                          <p *ngIf="dirForm.get('firstName').errors.minlength" class="text-danger">First Name must be 2 characters long, we need another {{dirForm.get('firstName').errors.minlength.requiredLength - dirForm.get('firstName').errors.minlength.actualLength}} characters</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput2">Last Name</label>
                    <div class="col-md-9">
                      <input type="text" id="projectinput2" class="form-control" placeholder="Last Name" name="lname" formControlName="lastName">
                      <div class="form-control-feedback" *ngIf="dirForm.get('lastName').errors && (dirForm.get('lastName').dirty || dirForm.get('lastName').touched)">
                          <p *ngIf="dirForm.get('lastName').errors.required" class="text-danger">First Name is required</p>
                          <p *ngIf="dirForm.get('lastName').errors.minlength" class="text-danger">First Name must be 2 characters long, we need another {{dirForm.get('lastName').errors.minlength.requiredLength - dirForm.get('firstName').errors.minlength.actualLength}} characters</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput3">E-mail</label>
                    <div class="col-md-9">
                      <input type="text" id="projectinput3" class="form-control" placeholder="E-mail" name="email" formControlName="email">
                      <div class="form-control-feedback" *ngIf="dirForm.get('email').errors && (dirForm.get('email').dirty || dirForm.get('email').touched)">
                          <p *ngIf="dirForm.get('email').errors.required" class="text-danger">Email is required</p>
                          <p *ngIf="dirForm.get('email').errors.pattern" class="text-danger">Please enter a correct email</p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput3">Address</label>
                    <div class="col-md-9">
                      <input type="text" id="projectinput3" class="form-control" placeholder="Enter director's address" name="email" formControlName="address">
                      <div class="form-control-feedback" *ngIf="dirForm.get('address').errors && (dirForm.get('address').dirty || dirForm.get('address').touched)">
                          <p *ngIf="dirForm.get('address').errors.required" class="text-danger">Address is required</p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row" formGroupName = "site" >
                      <label class="col-md-3 label-control" for="projectinput6">Controll Site</label>
                      <div class="col-md-9" >
                        <select id="projectinput6" name="interested" class="form-control" formControlName="id"> 
                            <option value="" disabled>Choose Site</option>
                          <option *ngFor="let site of sites"  value="{{ site?.id }}"  >{{ site?.nom }}</option>
                        </select>
                        <div class="form-control-feedback" *ngIf="dirForm.get('site').get('id').errors && (dirForm.get('site').get('id').dirty || dirForm.get('site').get('id').touched)">
                            <p *ngIf="dirForm.get('site').get('id').errors.required" class="text-danger">Site is required</p>
                        </div>
                      </div>
                    </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput3">Username</label>
                    <div class="col-md-9">
                      <input type="text" id="projectinput3" class="form-control" placeholder="Username" name="email" formControlName="username">
                      <div class="form-control-feedback" *ngIf="dirForm.get('username').errors && (dirForm.get('username').dirty || dirForm.get('username').touched)">
                          <p *ngIf="dirForm.get('username').errors.required" class="text-danger">Username is required</p>
                          <p *ngIf="dirForm.get('username').errors.minlength" class="text-danger">Username must be 8 characters long, we need another {{dirForm.get('username').errors.minlength.requiredLength - dirForm.get('username').errors.minlength.actualLength}} characters</p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row last">
                    <label class="col-md-3 label-control" for="projectinput3">Password</label>
                    <div class="col-md-9">
                      <input type="password" id="projectinput3" class="form-control" placeholder="Password" name="email" formControlName="password">
                      <div class="form-control-feedback" *ngIf="dirForm.get('password').errors && (dirForm.get('password').dirty || dirForm.get('password').touched)">
                          <p *ngIf="dirForm.get('password').errors.required" class="text-danger">Password is required</p>
                          <p *ngIf="dirForm.get('password').errors.minlength" class="text-danger">Password must be 8 characters long, we need another {{dirForm.get('password').errors.minlength.requiredLength - dirForm.get('password').errors.minlength.actualLength}} characters</p>
                      </div>
                    </div>
                  </div>
  
                  <!--For Classes // (change)="changeClass($event)"
                  <div class="form-group row" formGroupName = "classe">
                    <label class="col-md-3 label-control" for="projectinput6">Interested in</label>
                    <div class="col-md-9" >
                      
                      <select id="projectinput6" name="interested" class="form-control" formControlName="id"> 
                          <option value="" disabled>Choose Student Class</option>
                        <option *ngFor="let classe of classes"  value="{{ classe?.id }}"  >{{ classe?.label }}</option>
                      </select>
                    </div>
                  </div>
                   Classes-->

                </div>
  
                <div class="form-actions">
                  <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/director/all']">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>