<section id="basic-form-layouts">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">Adding Director Form</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="bordered-layout-basic-form">Project Info</h4>
          </div>
          <div class="card-body">
            <div class="px-3">
              <form class="form form-horizontal form-bordered" [formGroup]="dirForm" (ngSubmit)="onSubmit()">
                  {{ dirForm.value | json}}
                <div class="form-body">
                  <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput1">First Name</label>
                    <div class="col-md-9">
                      <input type="text" id="projectinput1" class="form-control" placeholder="First Name" name="fname" formControlName="firstName">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput2">Last Name</label>
                    <div class="col-md-9">
                      <input type="text" id="projectinput2" class="form-control" placeholder="Last Name" name="lname" formControlName="lastName">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput3">E-mail</label>
                    <div class="col-md-9">
                      <input type="text" id="projectinput3" class="form-control" placeholder="E-mail" name="email" formControlName="email">
                    </div>
                  </div>
  
                  <!--For Classes // (change)="changeClass($event)"
                  <div class="form-group row" formGroupName = "classe">
                    <label class="col-md-3 label-control" for="projectinput6">Interested in</label>
                    <div class="col-md-9" >
                      
                      <select id="projectinput6" name="interested" class="form-control" formControlName="id"> 
                          <option value="" disabled>Choose Student Class</option>
                        <option *ngFor="let classe of classes"  value="{{ classe?.id }}"  >{{ classe?.label }}</option>
                      </select>
                    </div>
                  </div>
                   Classes-->

                </div>
  
                <div class="form-actions">
                  <button type="button" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>